html {
  background-color: rgb(7, 6, 65);
}

body {
  width: 600px;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  border: solid rgb(255, 197, 88) 3px;
  border-radius: 15px;
  padding: 50px 50px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  font-variant: small-caps;
  font-size: 50px;
}

h2 {
  font-variant: small-caps;
  font-size: 40px;
  font-style: italic;
}

a {
  color: black;
}

img {
  width: 100px;
}

#box {
  border: solid grey 2px;
  padding: 20px 5px;
  font-size: 40px;
  text-align: center;
}
